{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe | Amiam.fr
{% endblock %}
{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/user/resetPasswordStyle.css')}}">

{% endblock %}

{% block body %}
	<section class="resetPasswordRequest">
	<a class="btn btnRetour" href="{{ path('app_login')}}"><i class="fa-solid fa-arrow-left"></i></a>

		<h1>Réinitialisation du Mot de passe</h1>
		{{form_start(requestPassForm)}}
		<div class="form-field">
			{{ form_row(requestPassForm.email, {
            label: 'E-mail *',
                   }) }}
		</div>
		<p class="gris">* Champs requis</p>

		<div class="groupeBtn">
			<button type="submit" class="btn btnOk">Envoyer</button>
		</div>

		{{form_end(requestPassForm)}}
	</section>
{% endblock %}
