{% extends 'base.html.twig' %}

{% block title %}Réinitialisation Mot de passe Amiam
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/user/resetPasswordStyle.css')}}">
{% endblock %}

{% block body %}
	<section class="resetPassword">
		<h1>Réinitialisation du Mot de passe</h1>
		{{form_start(passForm)}}
		<div class="form-field">
			{{ form_row(passForm.password, {
            label: 'Mot de passe*',
                   }) }}
		</div>
		<p class="gris">* Champs requis</p>

		<button type="submit" class="btn btnOk">Confirmer</button>
		{{form_end(passForm)}}
	</section>
{% endblock %}
