{% extends 'base.html.twig' %}

{% block title %}Amiam
{% endblock %}
{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/homeStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/recette/recetteIndexStyle.css')}}">
{% endblock %}

{% block body %}


	<div class="entete">
		<div class="accroche">
			<h1 id="accueil">Amiam</h1>
			<h2>Organise tes repas entre amis !</h2>
			<p>Amiam t'aide à faire le lien entre tes recettes préférées et tes amis, en créant des repas où tout le monde se régale.</p>
		</div>
	</div>
	{# question réponse #}
	<section class="questionReponse">
		<div class="interrogation">


			<div class="premiere card shadow-1 rounded-4 ">
				<p>
					<i class="fa-solid fa-quote-left"></i>
					Si j’invite Raphaël, Sarah et Ismaël samedi soir à la maison, qu’est-ce que je pourrais bien leur faire à manger ?
					<i class="fa-solid fa-quote-right"></i>
				</p>
			</div>


			<div class="image">
				<img src="{{asset('./assets/img/femme-reflechit.jpg')}}" alt="femme reflechit freepik">
			</div>
			<div class="deuxieme card shadow-1 rounded-4">
				<p>
					<i class="fa-solid fa-quote-left"></i>
					Je leur ferai bien du poisson avec du brocoli, mais je suis plus très sûre que Raphaël aime bien les brocolis, et je  crois que j’ai déjà fait ce plat à Sarah.
					<i class="fa-solid fa-quote-right"></i>
				</p>
			</div>
		</div>
		<div class="reponse">
			<div class="image">
				<img src="{{asset('./assets/img/couple2.jpg')}}" alt="couple freepik">
			</div>
			<div class="texte card shadow-1 rounded-4">
				<p>
					<i class="fa-solid fa-quote-left"></i>
					Tu devrais essayer Amiam !
				</p>
				<p>

					Grâce à ce site on peut enregistrer, modifier et supprimer nos recettes comme dans une application classique.</p>
				<p>

					On peut aussi créer des fiches amis sur lesquelles on note leurs allergies et ce qu’ils n’aiment pas.
				</p>
				<p>
					Du coup, on peut créer des repas et choisir uniquement parmis les recettes qui conviennent aux amis qu'on a invités !
					<i class="fa-solid fa-quote-right"></i>
				</p>
			</div>

		</div>
	</section>
	{# presentation #}
	<section class="presentation">

		<div class="resume  background">

			<p>Amiam est bien plus qu'un simple site web de recettes de cuisine. C'est un outil polyvalent conçu pour simplifier et améliorer ton expérience en cuisine en t'aidant à créer des
				<span class="avant">repas délicieux</span>, à garder une trace des
				<span class="avant">préférences alimentaires de tes amis</span>, et à explorer un monde infini de saveurs.</p>
			<div class="img">
				<img src="{{asset('./assets/img/repasAmis.jpeg')}}" alt="repas entre amis">
			</div>
		</div>
		<div class="point">
			<div class="img">
				<img src="{{asset('./assets/img/recettes.jpg')}}" alt="repas entre amis">
			</div>
			<div class="texte">
				<h2>Création de recettes personnalisées</h2>
				<p>Avec Amiam, tu peux créer des
					<span class="avant">recettes de cuisine personnalisées</span>
					à partir de zéro selon tes préférences. Ajoute tes ingrédients préférés, ajuste les portions et personnalise les étapes de préparation.</p>
			</div>
		</div>
		<div class="point background">

			<div class="texte">
				<h2>Gestion de tes amis</h2>
				<p>
					Ne te soucie plus de qui est allergique à quoi ou qui préfère quel type de cuisine. Amiam te permet d'enregistrer tes amis avec leurs
					<span class="avant">préférences alimentaires, allergies et régimes spéciaux</span>. Plus jamais de mauvaises surprises lors des repas entre amis !</p>
			</div>
			<div class="img">
				<div class="img1">
					<img src="{{asset('./assets/img/amisFamilleIndex.jpg')}}" alt="liste des amis"></div>

				<div class="img2">
					<img src="{{asset('./assets/img/amiShow.jpg')}}" alt="profil d'un ami"></div>


			</div>
		</div>
		<div class="point">
			<div class="img">
				<div class="img1">
					<img src="{{asset('./assets/img/repasShow.jpg')}}" alt="repas"></div>
				<div class="img2">
					<img src="{{asset('./assets/img/repasNew.jpg')}}" alt="choix d'une recette"></div>

			</div>

			<div class="texte">
				<h2>Création de repas harmonieux
				</h2>
				<p>Lorsque vient le moment de planifier un repas avec tes amis, Amiam est là pour toi. Il te suffit de spécifier les invités, et
					<span class="avant">notre algorithme intelligent</span>
					te proposera des
					<span class="avant">recettes qui conviennent à tous tes amis</span>
					et te préviendra des particularités culiniaires éventuelles de tes invités.</p>
			</div>
		</div>
		<div class="point background">
			<div class="texte">
				<h2>Historique des repas</h2>
				<p>Garde une trace de chaque repas que tu as créé avec Amiam. Tu pourras voir quelles recettes ont été un succès, quelles ont besoin d'améliorations, et
					<span class="avant">combien de fois tu as régalé tes amis</span>
					avec tes talents culinaires.</p>
			</div>
			<div class="img">
				<div class="img1">
					<img src="{{asset('./assets/img/repasIndex.jpg')}}" alt="liste des repas"></div>
				<div class="img2">
					<img src="{{asset('./assets/img/repasShow.jpg')}}" alt="repas"></div>


			</div>

		</div>

	</section>
	<section class="home">
		{% if is_granted('ROLE_USER') %}
			<div class="groupeBtn">
				<a class="btn btnOk" href="{{path('app_repasnew')}}">
					<i class="fa-solid fa-circle-plus"></i>
					Repas</a>
			</div>
		{% else %}
			<div class="groupeBtn">
				<a class="btn btnOk" href="{{path('app_login')}}">Connexion</a>
			</div>
		{% endif %}
	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('./assets/js/showHide.js')}}"></script>
{% endblock %}
