{% extends 'base.html.twig' %}

{% block title %}Inscription Amiam
{% endblock %}
{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/user/registerStyle.css')}}">

{% endblock %}

{% block body %}

	{# en cas d'erreur #}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}


	<section class="register">
		<a class="btn btnRetour" href="{{ path('app_login')}}">
			<i class="fa-solid fa-arrow-left"></i>
		</a>

		<h1>Inscription</h1>


		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<div class="form-field">
			{{ form_row(registrationForm.pseudo, {
            label: 'Pseudo*',
                   }) }}
		</div>
		<div class="form-field">

			{{ form_row(registrationForm.email, {
            label: 'E-mail*',
                   }) }}
		</div>

		<div class="form-field">

			{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe*',
                   }) }}
		</div>

		<div class="accepteCGU">
			{% set termsOfUseFormGroup %}
			{{ form_row(registrationForm.agreeTerms) }}
			{% endset %}
			{{ termsOfUseFormGroup|replace({'#DOCUMENTATION#':'<a class="has-text-underline" href="'~absolute_url(path('app_cgu'))~'" target="blank">C.G.U. du site amiam.fr</a>'})|raw }}
		</div>
		{# {{ form_row(registrationForm.agreeTerms) }} #}
		<p class="gris">* Champs requis</p>
		<div class="groupeBtn">
			<button type="submit" class="btn btnOk">Inscription</button>
		</div>
		{{ form_end(registrationForm) }}

	</section>

{% endblock %}
