{% extends 'base.html.twig' %}

{% block title %}Mes repas - Amiam
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/repas/repasIndexStyle.css')}}">

{% endblock %}

{% block body %}
	<section class="repasIndex">
		<a class="btn btnRetour" href="{{ path('app_home')}}">
			<i class="fa-solid fa-arrow-left"></i>
		</a>

		<h1>Mes repas</h1>

		<a class="btn btnOk" href="{{ path('app_repasnew') }}">
			<i class="fa-solid fa-circle-plus"></i>
			Repas
		</a>
		<div class="cards">
			{% for repa in app.user.repas  | sort((b, a)=> a.date <=> b.date)%}
				<div class="card shadow-1 hoverable-1 rounded-3 ">
					<a class="cardRepas" href="{{ path('app_repas_show', {'id': repa.id}) }}">
						<div class="card-header">
							<p>
								{{ repa.date ? repa.date|date('d-m-Y') : '' }}&nbsp;
							</p>
							<p class="cardRepasTitre">
								{% for famille in repa.amiFamilles  | sort((a, b)=> a.nom <=> b.nom)%}
									Famille
									{{ famille.nom }}&nbsp;
								{% endfor %}
							</p>
						</div>
						<div class="card-content">
							<p class="cardRepasTitre">
								{% for recette in repa.recettes |  sort((a, b)=> a.categorie <=> b.categorie)%}
									{% if recette.categorie.id is same as (1) %}
										<span class="aperitif">&nbsp;{{ recette.titre}}&nbsp;</span>
									{% endif %}

									{% if recette.categorie.id is same as (2) %}
										<span class="entree">&nbsp;{{ recette.titre}}&nbsp;</span>
									{% endif %}

									{% if recette.categorie.id is same as (3) %}
										<span class="platAcommpagnementSauce">&nbsp;{{ recette.titre}}&nbsp;</span>
									{% endif %}

									{% if recette.categorie.id is same as (4) %}
										<span class="platAcommpagnementSauce">&nbsp;{{ recette.titre}}&nbsp;</span>
									{% endif %}

									{% if recette.categorie.id is same as (5) %}
										<span class="platAcommpagnementSauce">&nbsp;{{ recette.titre}}&nbsp;</span>
									{% endif %}

									{% if recette.categorie.id is same as (6) %}
										<span class="dessertGouter">&nbsp;{{ recette.titre}}&nbsp;</span>
									{% endif %}

									{% if recette.categorie.id is same as (7) %}
										<span class="dessertGouter">&nbsp;{{ recette.titre}}&nbsp;</span>
									{% endif %}

								{% endfor %}
							</p>
						</div>
					</a>

				</div>
			{% else %}
				<div>Aucun repas enregistré !</div>

			{% endfor %}
		</div>

	</section>

{% endblock %}
