{% extends 'base.html.twig' %}

{% block title %}Repas du
	{{ repa.date ? repa.date|date('d-m-Y') : '' }}
	- Amiam
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/ami/amiFamilleShowDeleteStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/recette/recetteIndexStyle.css')}}">

	<link rel="stylesheet" href="{{asset('./assets/css/repas/repasShowStyle.css')}}">


{% endblock %}


{% block body %}

	<section class="entete">
		<div class="groupeBtn groupeBtnModifSupp">
			<div>
				<a class="btn btnRetour" href="{{path('app_repas_index')}}">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
			</div>
			<div class="modifSupp">

				{{ include('repas/_delete_form.html.twig') }}
			</div>
		</div>
		<div class="df">
			<h1>Repas du
				{{ repa.date ? repa.date|date('d-m-Y') : '' }}</h1>
			<a class="btn iconeModifier" href="{{path('app_repas_edit_date', {'id': repa.id})}}">
				<i class="fa-solid fa-pen-to-square"></i>
			</a>
		</div>
	</section>
	<section class="repasShow">

		<div class="amis">
			<div class="df">
				<h2>
					<i class="fa-solid fa-people-group"></i>
					Amis présents</h2>
				<a class="btn iconeModifier" href="{{path('app_repas_edit_amis', {'id': repa.id})}}">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
			</div>

			<div class="cards">
				{% for ami in repa.amis |  sort((a, b)=> a.famille <=> b.famille)%}
					{% if ami.age > 18 %}
						{% if ami.age > 11  %}
							{% set nbCouverts = nbCouverts + 1 %}
						{% elseif ami.age > 2 %}
							{% set nbCouverts = nbCouverts + 0.5 %}
						{% else %}
							{% set nbCouverts = nbCouverts  %}
						{% endif %}
						<div class="card shadow-1 hoverable-1 rounded-3 ">
							<a href="{{ path('app_ami_show', {'id': ami.id}) }}">
								<div class="card-header">
									{% if ami.avatar %}
										<div class="avatar amiAvatar"><img src="{{asset('assets/uploads/photosAmis/mini/')}}{{ ami.avatar }}" alt="{{ ami.prenom }}"></div>
									{% else  %}
										<div class="avatar amiAvatar"><img src="{{asset('./assets/img/avatar.png')}}" alt="{{ ami.prenom }}"></div>
									{% endif  %}
								</div>
								<div class="card-content">
									<div>{{ ami.prenom }}
										{% if ami.famille.nom is not same as ami.prenom %}
											{{ami.famille.nom}}
										{% endif %}

									</div>

								</div>
							</a>
						</div>

					{% endif %}
				{% endfor %}

			</div>


			<h3>Enfants présents</h3>
			<div class="cards">
				{% for ami in repa.amis |  sort((a, b)=> a.famille <=> b.famille)%}
					{% if ami.age <= 18 %}
						{% if ami.age > 11  %}
							{% set nbCouverts = nbCouverts + 1 %}
						{% elseif ami.age > 2 %}
							{% set nbCouverts = nbCouverts + 0.5 %}
						{% else %}
							{% set nbCouverts = nbCouverts  %}
						{% endif %}
						<div class="card shadow-1 hoverable-1 rounded-3 ">
							<a href="{{ path('app_ami_show', {'id': ami.id}) }}">
								<div class="card-header">
									{% if ami.avatar %}
										<div class="avatar amiAvatar"><img src="{{asset('assets/uploads/photosAmis/mini/')}}{{ ami.avatar }}" alt="{{ ami.prenom }}"></div>
									{% else  %}
										<div class="avatar amiAvatar"><img src="{{asset('./assets/img/avatar.png')}}" alt="{{ ami.prenom }}"></div>
									{% endif  %}
								</div>
								<div class="card-content">
									<div>{{ ami.prenom }}</div>

								</div>
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>


			<div class="couverts">
				{% for membre in app.user.userFamilies %}
					{% if membre.age > 11  %}
						{% set nbCouverts = nbCouverts + 1 %}
					{% elseif membre.age > 2 %}
						{% set nbCouverts = nbCouverts + 0.5 %}
					{% else %}
						{% set nbCouverts = nbCouverts  %}
					{% endif %}
				{% endfor %}

			</div>
		</div>
		<div class="comment">
			<div class="df">
				<h2>Commentaire</h2>
				<a class="btn iconeModifier" href="{{path('app_repas_edit_comment', {'id': repa.id})}}">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
			</div>
			<p>{{repa.commentaire}}</p>
		</div>
		<div class="recettesIndex">
			<div class="df">
				<h2>
					<i class="fa-solid fa-book"></i>
					Recette(s) cuisinée(s)</h2>
				<a class="btn iconeModifier" href="{{path('app_repas_edit_recette', {'id': repa.id})}}">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
			</div>
			<div
				class="cards">
				{# Apéritif  #}
				{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
					{% if recette.categorie.categorie is same as 'Apéritif' %}

						<div class="categorieRecettes">

							<h3 id="aperitifH2">Apéritif
							</h3>
							<div id="aperitif" class="cardsRecette">
								{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
									{% if recette.categorie.categorie is same as 'Apéritif' %}
										<div class="card shadow-1 hoverable-1 rounded-3 ">
											<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id, 'nbCouverts': nbCouverts}) }}" target="_blank">
												{% if recette.photo %}
													<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
												{% else  %}
													<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
												{% endif  %}

												<div class="slugRecette">
													<h3 class="titreRecette">{{ recette.titre }}</h3>
													<div class="tpsRecette">
														{% if recette.tpsPreparation %}
															<div>
																<div>Préparation</div>
																<div>{{ recette.tpsPreparation }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsRepos %}
															<div>
																<div>Repos</div>
																<div>{{ recette.tpsRepos }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsCuisson %}

															<div>
																<div>Cuisson</div>
																<div>{{ recette.tpsCuisson }}
																	min</div>
															</div>
														{% endif %}

													</div>
												</div>
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{# Entrée #}
				{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
					{% if recette.categorie.categorie is same as 'Entrée' %}

						<div class="categorieRecettes">


							<h3 id="entreeH2">Entrée
							</h3>
							<div id="entree" class="cardsRecette">
								{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
									{% if recette.categorie.categorie is same as 'Entrée' %}
										<div class="card shadow-1 hoverable-1 rounded-3 ">
											<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id, 'nbCouverts': nbCouverts}) }}" target="_blank">
												{% if recette.photo %}
													<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
												{% else  %}
													<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
												{% endif  %}

												<div class="slugRecette">
													<h3 class="titreRecette">{{ recette.titre }}</h3>


													<div class="tpsRecette">
														{% if recette.tpsPreparation %}
															<div>
																<div>Préparation</div>
																<div>{{ recette.tpsPreparation }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsRepos %}
															<div>
																<div>Repos</div>
																<div>{{ recette.tpsRepos }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsCuisson %}

															<div>
																<div>Cuisson</div>
																<div>{{ recette.tpsCuisson }}
																	min</div>
															</div>
														{% endif %}

													</div>
												</div>
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{# Plat #}
				{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
					{% if recette.categorie.categorie is same as 'Plat principal' %}

						<div class="categorieRecettes">

							<h3 id="platH2">Plat principal
							</h3>
							<div id="plat" class="cardsRecette">
								{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
									{% if recette.categorie.categorie is same as 'Plat principal' %}
										<div class="card shadow-1 hoverable-1 rounded-3 ">
											<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id, 'nbCouverts': nbCouverts}) }}" target="_blank">
												{% if recette.photo %}
													<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
												{% else  %}
													<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
												{% endif  %}

												<div class="slugRecette">
													<h3 class="titreRecette">{{ recette.titre }}</h3>

													<div class="tpsRecette">
														{% if recette.tpsPreparation %}
															<div>
																<div>Préparation</div>
																<div>{{ recette.tpsPreparation }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsRepos %}
															<div>
																<div>Repos</div>
																<div>{{ recette.tpsRepos }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsCuisson %}

															<div>
																<div>Cuisson</div>
																<div>{{ recette.tpsCuisson }}
																	min</div>
															</div>
														{% endif %}

													</div>
												</div>
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{# Accompagnement #}
				{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
					{% if recette.categorie.categorie is same as 'Accompagnement' %}

						<div class="categorieRecettes">
							<h3 id="accompagnementH2">Dessert
							</h3>
							<div id="accompagnement" class="cardsRecette">
								{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
									{% if recette.categorie.categorie is same as 'Accompagnement' %}
										<div class="card shadow-1 hoverable-1 rounded-3 ">
											<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id, 'nbCouverts': nbCouverts}) }}" target="_blank">
												{% if recette.photo %}
													<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
												{% else  %}
													<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
												{% endif  %}

												<div class="slugRecette">
													<h3 class="titreRecette">{{ recette.titre }}</h3>
													<div class="tpsRecette">
														{% if recette.tpsPreparation %}
															<div>
																<div>Préparation</div>
																<div>{{ recette.tpsPreparation }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsRepos %}
															<div>
																<div>Repos</div>
																<div>{{ recette.tpsRepos }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsCuisson %}

															<div>
																<div>Cuisson</div>
																<div>{{ recette.tpsCuisson }}
																	min</div>
															</div>
														{% endif %}

													</div>
												</div>
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{# Sauce #}
				{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
					{% if recette.categorie.categorie is same as 'Sauce' %}

						<div class="categorieRecettes">
							<h3 id="sauceH2">Sauce
							</h3>
							<div id="sauce" class="cardsRecette">
								{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
									{% if recette.categorie.categorie is same as 'Sauce' %}
										<div class="card shadow-1 hoverable-1 rounded-3 ">
											<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id, 'nbCouverts': nbCouverts}) }}" target="_blank">
												{% if recette.photo %}
													<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
												{% else  %}
													<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
												{% endif  %}

												<div class="slugRecette">
													<h3 class="titreRecette">{{ recette.titre }}</h3>
													<div class="tpsRecette">
														{% if recette.tpsPreparation %}
															<div>
																<div>Préparation</div>
																<div>{{ recette.tpsPreparation }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsRepos %}
															<div>
																<div>Repos</div>
																<div>{{ recette.tpsRepos }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsCuisson %}

															<div>
																<div>Cuisson</div>
																<div>{{ recette.tpsCuisson }}
																	min</div>
															</div>
														{% endif %}

													</div>
												</div>
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{# Dessert #}
				{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
					{% if recette.categorie.categorie is same as 'Dessert' %}

						<div class="categorieRecettes">
							<h3 id="dessertH2">Dessert
							</h3>
							<div id="dessert" class="cardsRecette">
								{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
									{% if recette.categorie.categorie is same as 'Dessert' %}
										<div class="card shadow-1 hoverable-1 rounded-3 ">
											<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id, 'nbCouverts': nbCouverts}) }}" target="_blank">
												{% if recette.photo %}
													<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
												{% else  %}
													<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
												{% endif  %}

												<div class="slugRecette">
													<h3 class="titreRecette">{{ recette.titre }}</h3>
													<div class="tpsRecette">
														{% if recette.tpsPreparation %}
															<div>
																<div>Préparation</div>
																<div>{{ recette.tpsPreparation }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsRepos %}
															<div>
																<div>Repos</div>
																<div>{{ recette.tpsRepos }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsCuisson %}

															<div>
																<div>Cuisson</div>
																<div>{{ recette.tpsCuisson }}
																	min</div>
															</div>
														{% endif %}

													</div>
												</div>
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{# Petit dej & gouter#}
				{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
					{% if recette.categorie.categorie is same as 'Petit-Déjeuner & Goûter' %}

						<div class="categorieRecettes">
							<h3 id="petitDejH2">Petit-Déjeuner & Goûter
							</h3>
							<div id="petitDej" class="cardsRecette">
								{% for recette in recettes |  sort((a, b)=> a.titre <=> b.titre)%}
									{% if recette.categorie.categorie is same as 'Petit-Déjeuner & Goûter' %}
										<div class="card shadow-1 hoverable-1 rounded-3 ">
											<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id, 'nbCouverts': nbCouverts}) }}" target="_blank">
												{% if recette.photo %}
													<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
												{% else  %}
													<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
												{% endif  %}

												<div class="slugRecette">
													<h3 class="titreRecette">{{ recette.titre }}</h3>
													<div class="tpsRecette">
														{% if recette.tpsPreparation %}
															<div>
																<div>Préparation</div>
																<div>{{ recette.tpsPreparation }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsRepos %}
															<div>
																<div>Repos</div>
																<div>{{ recette.tpsRepos }}
																	min</div>
															</div>
														{% endif %}
														{% if recette.tpsCuisson %}

															<div>
																<div>Cuisson</div>
																<div>{{ recette.tpsCuisson }}
																	min</div>
															</div>
														{% endif %}

													</div>
												</div>
											</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</section>
	{% endblock %}
	{% block javascripts %}
		<script src="{{asset('./assets/js/showHide.js')}}"></script>
	{% endblock %}
