{% extends 'base.html.twig' %}

{% block title %}Repas du
	{{ repa.date ? repa.date|date('d-m-Y') : '' }}
	- Amiam
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/repas/repasShowStyle.css')}}">

{% endblock %}


{% block body %}

	<section class="entete">
		<div class="groupeBtn groupeBtnModifSupp">
			<div>
				<a class="btn btnRetour" href="javascript:history.go(-1)">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
			</div>
			<div
				class="modifSupp">
				{# <a class="btn iconeModifier" href="{{ path('app_repas_edit', {'id': repa.id}) }}">
																																									<i class="fa-solid fa-pen-to-square"></i>
																																								</a> #}

				{{ include('repas/_delete_form.html.twig') }}
			</div>
		</div>
		<div class="df">
			<h1>Repas du
				{{ repa.date ? repa.date|date('d-m-Y') : '' }}</h1>
			<a class="btn iconeModifier" href="{{path('app_repas_edit_date', {'id': repa.id})}}">
				<i class="fa-solid fa-pen-to-square"></i>
			</a>
		</div>
	</section>
	<section class="repasShow">

		<div class="amis">
			<div class="df">
				<h3>Amis présents</h3>
				<a class="btn iconeModifier" href="{{path('app_repas_edit_amis', {'id': repa.id})}}">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
			</div>
			<ul class="famille">
				{% for famille in repa.amiFamilles | sort((a, b)=> a.nom <=> b.nom) %}
					<li>Famille
						{{famille.nom}}
						<ul>

							{% for ami in repa.amis | sort((a, b)=> a.dateNaissance <=> b.dateNaissance) %}
								{% if ami.famille is same as famille %}

									<li class="ami">{{ami.prenom}}</li>
									{% if ami.age > 11  %}
										{% set nbCouverts = nbCouverts + 1 %}
									{% elseif ami.age > 2 %}
										{% set nbCouverts = nbCouverts + 0.5 %}
									{% else %}
										{% set nbCouverts = nbCouverts  %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
			<div class="couverts">
				{% for membre in app.user.userFamilies %}
					{% if membre.age > 11  %}
						{% set nbCouverts = nbCouverts + 1 %}
					{% elseif membre.age > 2 %}
						{% set nbCouverts = nbCouverts + 0.5 %}
					{% else %}
						{% set nbCouverts = nbCouverts  %}
					{% endif %}
				{% endfor %}

			</div>
		</div>
		<div class="comment">
			<div class="df">
				<h3>Commentaire</h3>
				<a class="btn iconeModifier" href="{{path('app_repas_edit_comment', {'id': repa.id})}}">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
			</div>
			<p>{{repa.commentaire}}</p>
		</div>
		<div class="recette">
			<div class="df">
				<h3>Recettes utilisées</h3>
				<a class="btn iconeModifier" href="{{path('app_repas_edit_recette', {'id': repa.id})}}">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>
			</div>
			<ul>
				{% for recette in recettes %}
					<div class="card shadow-1 hoverable-1 rounded-3 ">
						<a class="cardRecette" href="{{ path('app_repas_recette', {'id': recette.id, 'repas': repa.id}) }}">
							{% if recette.photo %}
								<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
							{% else  %}
								<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
							{% endif  %}

							<div class="slugRecette">
								<h3 class="titreRecette">{{ recette.titre }}</h3>

								<div>{{ recette.categorie.categorie }}


								</div>
								<div class="tpsRecette">
									{% if recette.tpsPreparation %}
										<div>
											<div>Préparation</div>
											<div>{{ recette.tpsPreparation }}
												min</div>
										</div>
									{% endif %}
									{% if recette.tpsRepos %}
										<div>
											<div>Repos</div>
											<div>{{ recette.tpsRepos }}
												min</div>
										</div>
									{% endif %}
									{% if recette.tpsCuisson %}

										<div>
											<div>Cuisson</div>
											<div>{{ recette.tpsCuisson }}
												min</div>
										</div>
									{% endif %}

								</div>
							</div>
						</a>
					</div>

				{% endfor %}
			</ul>
		</section>
	{% endblock %}
	{% block javascripts %}
		<script src="{{asset('./assets/js/showHide.js')}}"></script>
	{% endblock %}
