{{ form_errors(recetteNewBeginForm) }}


{{ form_start(recetteNewBeginForm) }}
<div class="entete">
	<div class="form-field">
		{{ form_row(recetteNewBeginForm.titre, {
            label: 'Titre *',
                   }) }}
	</div>

	<div class="form-field prive">
		{{ form_row(recetteNewBeginForm.prive, {
            label: 'Recette privée',
                  
                   }) }}
	</div>
</div>
<div class="form-field">
	{{ form_row(recetteNewBeginForm.nbPersonnes, {
            label: 'Nombre de personnes *',
                   }) }}
</div>

<div class="form-field">
	{{ form_row(recetteNewBeginForm.categorie, {
            label: 'Catégorie de recettes',
                   }) }}
</div>
<p class="gris">* champs requis</p>
<div class="bouton">
<button class="btn btnOk">
	<i class="fa-solid fa-arrow-right"></i>
</button>
</div>
{{ form_end(recetteNewBeginForm) }}
