{% extends 'base.html.twig' %}

{% block title %}
	Modification {{recette.titre}}
	| Amiam.fr
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/recette/recetteNewEditStyle.css')}}">

{% endblock %}


{% block body %}
	<section class="recetteNewEdit">
		<a class="btn btnRetour" href="javascript:history.go(-1)">
			<i class="fa-solid fa-arrow-left"></i>
		</a>

		<h1>{{recette.titre}}</h1>

		{{ form_errors(recetteForm) }}


		{{ form_start(recetteForm) }}
		{# début du formulaire #}
		<div class="entete">
			<div class="form-field">
				{{ form_row(recetteForm.titre, {
            		label: 'Modification du titre',
                   }) }}
			</div>

			<div class="form-field prive">
				{{ form_row(recetteForm.prive, {
            		label: 'Recette privée',
                   }) }}
			</div>
		</div>

		<div class="form-field">
			{{ form_row(recetteForm.nbPersonnes, {
           		 label: 'Nombre de personnes',
                   }) }}
		</div>

		<div class="form-field">
			{{ form_row(recetteForm.categorie, {
            label: 'Catégorie de recettes',
                   }) }}
		</div>


		{# ajout des ingrédients - envoi vers recette ingredient #}
		<div class="ingredients">
			<h2>Ingrédients</h2>

			<a class="btn iconeAjout" href="{{path('app_recette_ingredient_new', {'recette': recette})}}">
				<i class="fa-solid fa-circle-plus"></i>
			</a>
			<table>
				<tbody>
					{% for ingredient in ingredients %}
						<tr>
							<td>{{ ingredient.aliment }}</td>
							<td>{{ ingredient.quantite }}
								{{ ingredient.mesure }}</td>
							<td>
								<a class="btn iconeModifier" href="{{ path('app_recette_ingredient_edit', {'id': ingredient.id}) }}">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
								<a class="btn iconeSupprimer" href="{{ path('app_recette_ingredient_delete', {'id': ingredient.id}) }}">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">Aucun ingrédient enregistré</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>

		</div>
		<h2>Temps</h2>
		<div class="temps">
			<div class="form-field">
				{{ form_row(recetteForm.tpsPreparation, {
           		 label: 'Temps de préparation',
                   }) }}
			</div>
			<div class="form-field">
				{{ form_row(recetteForm.tpsCuisson, {
           		 label: 'Temps de cuisson',
                   }) }}
			</div>
			<div class="form-field">
				{{ form_row(recetteForm.tpsRepos, {
            label: 'Temps de repos',
                   }) }}
			</div>
		</div>
		{# description #}
		<h2>Étapes</h2>
		<p>Description de ta recette</p>
		<div id="editor"></div>
		<div class="form-field">
			{{ form_row(recetteForm.description) }}
		</div>
		<div class="form-field photoVideo">
			{{ form_row(recetteForm.photo, {
            label: 'Photo (fichier image)',
                   }) }}
		</div>
		{# <div class="form-field photoVideo">
							{{ form_row(recetteForm.video, {
				            label: 'Vidéo',
				      
				                   }) }}
						</div> #}
		<div class="groupeBtn">
			<a class="btn iconeSupprimer" href="{{ path('app_recette_ingredient_delete', {'id': recette.id}) }}">
				<i class="fa-solid fa-trash-can"></i>
			</a>
			<button class="btn iconeOk">
				<i class="fa-solid fa-check"></i>
			</button>
		</div>
		{{ form_end(recetteForm) }}


	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/ckeditor5/ckeditor.js')}}"></script>
	<script src="{{asset('assets/js/ckeditor.js')}}"></script>
{% endblock %}
