{% extends 'base.html.twig' %}

{% block title %}Modification recette Amiam
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/recette/recetteNewEditStyle.css')}}">

{% endblock %}


{% block body %}
	<section class="recetteNewEdit">
		<a class="btn btnRetour" href="javascript:history.go(-1)">
			<i class="fa-solid fa-arrow-left"></i>
		</a>

		<h1>Recette titre</h1>

		{{ form_errors(recetteForm) }}


		{{ form_start(recetteForm) }}
		<div class="entete">
			<div class="form-field">
				{{ form_row(recetteForm.titre, {
            		label: 'Titre *',
                   }) }}
			</div>

			<div class="form-field prive">
				{{ form_row(recetteForm.prive, {
            		label: 'Recette privée',
                   }) }}
			</div>
		</div>

		<div class="form-field">
			{{ form_row(recetteForm.nbPersonnes, {
           		 label: 'Nombre de personnes *',
                   }) }}
		</div>

		<div class="form-field">
			{{ form_row(recetteForm.categorie, {
            label: 'Catégorie de recettes',
                   }) }}
		</div>

		<div class="temps">
			<div class="form-field">
				{{ form_row(recetteForm.tpsPreparation, {
           		 label: 'Temps de préparation',
                   }) }}
			</div>
			<div class="form-field">
				{{ form_row(recetteForm.tpsCuisson, {
           		 label: 'Temps de cuisson',
                   }) }}
			</div>
			<div class="form-field">
				{{ form_row(recetteForm.tpsRepos, {
            label: 'Temps de repos',
                   }) }}
			</div>
		</div>


		<p>Description</p>
		<div id="editor"></div>
		<div class="form-field">
			{{ form_row(recetteForm.description) }}
		</div>
		<div class="form-field">
			{{ form_row(recetteForm.photo, {
            label: 'Photo (fichier image)',
                   }) }}
		</div>
		<div class="form-field">
			{{ form_row(recetteForm.video, {
            label: 'Vidéo',
      
                   }) }}
		</div>

		<p>* Requis</p>

		<button class="btn">{{ button_label|default('Valider') }}</button>
		{{ form_end(recetteForm) }}


		{{ include('recette/_delete_form.html.twig') }}

	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/ckeditor5/ckeditor.js')}}"></script>
	<script src="{{asset('assets/js/ckeditor.js')}}"></script>
{% endblock %}
