{% extends 'base.html.twig' %}

{% block title %}Amiam Page 404
{% endblock %}
{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/homeStyle.css')}}">

{% endblock %}

{% block body %}
	<section class="page404">
		<div class="texte">
			<h1>404</h1>
			<h2>Ooooups !</h2>
			<p>Il semblerait que tu te sois perdu(e)...</p>
		</div>
		<div class="groupeBtn">
			<a class="btn btnRetour" href="javascript:history.go(-1)">
				Retour à la page précédente</i>
		</a>
		<a class="btn btnOk" href="{{path('app_home')}}">Retour à la page d'accueil</a>

	</div>

</section>{% endblock %}
