{% extends 'base.html.twig' %}

{% block title %}
	{{ ami_famille.nom }}
	- Amiam
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/ami/amiFamilleShowDeleteStyle.css')}}">

{% endblock %}

{% block body %}

	<section class="amiFamilleShowDelete">
		<div class="groupeBtn groupeBtnModifSupp">
			<div>
				<a class="btn btnRetour" href="javascript:history.go(-1)">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
			</div>
			<div class="modifSupp">
				<a class="btn iconeModifier" href="{{ path('app_ami_famille_edit', {'id': ami_famille.id}) }}">
					<i class="fa-solid fa-pen-to-square"></i>
				</a>

				{{ include('ami_famille/_delete_form.html.twig') }}
			</div>
		</div>
		<div class="entete">
			<h1>Famille
				{{ ami_famille.nom }}</h1>

			{% if ami_famille.avatar %}
				<div class="imgAmiFamille"><img src="{{asset('assets/uploads/photosAmisFamille/mini/')}}{{ ami_famille.avatar }}" alt="{{ ami_famille.nom }}"></div>
			{% else  %}
				<div class="imgAmiFamille"><img src="{{asset('./assets/img/famille.jpg')}}" alt="{{ ami_famille.nom }}"></div>
			{% endif  %}
		</div>
		<div class="amis">
			<a class="btn btnOk" href="{{path('app_ami_new', {'famille': ami_famille})}}">
				<i class="fa-solid fa-circle-plus"></i>
				Ami</a>

			{% for ami in ami_famille.amis %}
				<div class="card shadow-1 hoverable-1 rounded-3 ">
					<a href="{{ path('app_ami_show', {'id': ami.id}) }}">
						<div class="card-header">
							{% if ami.avatar %}
								<div class="imgAmiFamille"><img src="{{asset('assets/uploads/photosAmis/mini/')}}{{ ami.avatar }}" alt="{{ ami.prenom }}"></div>
							{% else  %}
								<div class="imgAmiFamille"><img src="{{asset('./assets/img/avatar.png')}}" alt="{{ ami.prenom }}"></div>
							{% endif  %}
						</div>
						<div class="card-header">
							<h2>{{ ami.prenom }}</h2>


							<div>
								<p>{{ami.dateNaissance ? ami.dateNaissance|date('d-m-Y') : ''  }}</p>
								-
								<p>statut à mettre
								</p>
							</div>

							<div>
								<div>
									<h3>Régime spécifique</h3>
									<ul>
										{% for regime in ami.regimes %}
											<li>{{regime.regime}}</li>
										{% endfor %}
									</ul>
								</div>
								<div>
									<h3>Allergies</h3>
									<div>
										<h4>à un groupe d'aliments</h4>
										<ul>
											{% for allergie in ami.allergies %}
												<li>{{allergie.allergene}}</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<h4>à un aliment</h4>
										<ul>
											{% for allergieAliment in ami.allergiesAliment %}
												<li>{{allergieAliment.aliment}}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								<div>
									<h3>N'aime pas</h3>
									<ul>
										{% for degout in ami.degout %}
											<li>{{degout.aliment}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}

		</div>
		<ul>
			<li class="h3">je veux pouvoir</li>
			<li>cliquer sur un ami pour l'afficher, le modifier ou le supprimer</li>

		</ul>


	</section>
{% endblock %}
