{% extends 'base.html.twig' %}

{% block title %}
	{{recette.titre}} |
	Amiam.fr
{% endblock %}
{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/recette/recetteShowStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/repas/repasRecetteStyle.css')}}">
{% endblock %}
{% block body %}


	<section class="recettesShow">

		<div class="card shadow-1 rounded-3">

			<h1>{{recette.titre}}</h1>
			<h3>{{ recette.categorie.categorie }}</h3>
			{% if recette.photo %}
				<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
			{% else  %}
				<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
			{% endif  %}


			<div class="tempsGroupe">
				{% if recette.tpsPreparation %}
					<div class="temps">
						<p>Temps de préparation</p>
						<div>{{ recette.tpsPreparation }}
							min
						</div>
					</div>
				{% endif %}
				{% if recette.tpsRepos %}
					<div class="temps">
						<p>Temps de repos</p>
						<div>{{ recette.tpsRepos }}
							min</div>
					</div>
				{% endif %}
				{% if recette.tpsCuisson %}
					<div class="temps">
						<p>Temps de cuisson</p>
						<div>{{ recette.tpsCuisson }}
							min</div>
					</div>
				{% endif %}

			</div>

			<div>
				<h2>Ingrédients</h2>
				<div class="df">
					<div id="tableauMultichoix">
						<ul class="enteteTableauMultichoix">
							<li id="ajuste" class="selected">
								<a href="#tabs-1">pour
									{{ nbCouverts }}

									amis

								</a>
								<i id="questionI" class="fa-regular fa-circle-question" onclick="showHide(question)"></i>
							</li>
							<li id="recette" class="">
								<a href="#tabs-2">pour
									{{ recette.nbPersonnes }}

									personnes <span  class="asterix">selon la recette</span></a>
							</li>
						</ul>

						<div class="bodyTableauMultichoix">

							<ul>
								<li>Ingrédient</li>
								<li>Quantité</li>

							</ul>

							<div id="tabs-1">

								{% for ingredient in ingredients %}
									<div class="ingredients">
										<p>{{ ingredient.aliment }}</p>
										<p>{{ ((ingredient.quantite / recette.nbPersonnes) * nbCouverts )  | round(2, 'floor') }}
											{{ ingredient.mesure }}</p>
									</div>
								{% endfor %}
							</div>
							<div id="tabs-2">
								{% for ingredient in ingredients %}
									<div class="ingredients">
										<p>{{ ingredient.aliment }}</p>
										<p>{{ ((ingredient.quantite)  | round(2, 'floor')) }}
											{{ ingredient.mesure }}</p>
									</div>
								{% endfor %}
							</div>
						</div>

					</div>

					<div id="question" class="dnone">
						<p class="gris">mis à jour en fonction du nombre d'amis présents et de la composition de ta famille.</p>
						<p class="gris">1 adulte ou 1 adolescent = 1 part</p>
						<p class="gris">1 enfant = 0.5 part</p>
						<p class="gris">1 bébé = 0 part</p>
					</div>

				</div>
				{# fin #}

			</div>

			<div>
				<h2>Étapes</h2>
				<p>{{ recette.description | raw }}</p>

			</div>
		</div>

	</section>

{% endblock %}
{% block javascripts %}
	<script src="{{asset('./assets/js/showHide.js')}}"></script>
	<script src="{{asset('./assets/js/tableauMultiChoix.js')}}"></script>
{% endblock %}
