{{ form_errors(form) }}

{{ form_start(form) }}

<div class="form">
	<div class="form-field">
		{{ form_row(form.aliment, {
            label: 'Ingrédient *',
                   }) }}
	</div>
	<div class="form-field quantite">
		{{ form_row(form.quantite, {
            label: 'Quantité *',
                   }) }}
	</div>
	<div class="form-field">
		{{ form_row(form.mesure, {
            label: 'Unité de mesure *',
                   }) }}
	</div>
</div>
<p>Tu ne trouves pas l'ingrédient souhaité ? Tu peux le créer <a href="{{ path('app_aliment_new', {'recette': recette, 'ami':'0'}) }}">ici</a>.</p>
<p class="gris">* Champs requis</p>
<div class="bouton">
	<button class="btn iconeOk">
		<i class="fa-solid fa-check"></i>
	</button>
</div>
{{ form_end(form) }}
