{{ form_start(form) }}
<div class="form-field">
	{{ form_row(form.avatar, {
            label: 'Nouvel avatar',
                   }) }}
</div>
    {# {{ form_widget(form) }} #}
    <button class="btn btnOk">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
