{{ form_errors(formEmail) }}

{{ form_start(formEmail) }}
<div class="form-field">
	{{ form_row(formEmail.email, {
            label: 'Nouvel E-mail',
                   }) }}
</div>

{# {{ form_widget(formEmail) }} #}
<button class="btn btnOk">{{ button_label|default('Save') }}</button>
{{ form_end(formEmail) }}
