{% extends 'base.html.twig' %}

{% block title %}Modification de mon avatar | Amiam.fr{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/user/userEditStyle.css')}}">

{% endblock %}


{% block body %}
<section class="editAvatar">
		<a class="btn btnRetour" href="{{ path('app_user_index') }}">
			<i class="fa-solid fa-arrow-left"></i>
		</a>

    <h1>Modification de ton avatar</h1>

    {{ include('user/_form_avatar.html.twig', {'button_label': 'Enregistrer'}) }}



 </section> 
{% endblock %}
