{% extends 'base.html.twig' %}

{% block title %}Nouveau Repas | Amiam.fr
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="{{asset('./assets/img/favicon.ico')}}">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/repas/repasNewEditStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/recette/recetteIndexStyle.css')}}">


{% endblock %}

{% block body %}

	<section class="entete">
		<div>
			<a class="btn btnRetour" href="{{ path('app_repas_index')}}">
				<i class="fa-solid fa-arrow-left"></i>
			</a>
		</div>
		<h1>Nouveau repas</h1>
	</section>


	<section class="amis">

		<form method="POST">

			<div class="form-field">
				<label for="dateRepas" class="date">
					<i class="fa-solid fa-calendar-days"></i>
					Date</label>
				<input type="date" name="dateRepas" id="dateRepas" class="form-control rounded-1"></div>
			<h2>
				<i class="fa-solid fa-people-group"></i>
				Amis invités</h2>

			<ul>
				{% for famille in familles | sort ((a, b)=> a.nom <=> b.nom) %}
					<li class="famille-checkbox"><input onclick='handleClick(this);' type="checkbox" id="{{ famille.nom }}" class="main-checkbox" name="familleAmisPourRecettes[]" value="{{ famille.id }}" data-dependant="{% for ami in famille.amis %}{{ami.id}},{% endfor %}">
						<label for="{{ famille.nom }}">Famille
							{{ famille.nom }}</label>
						<ul class="ami-checkbox">
							{% for ami in famille.amis %}
								<li><input type="checkbox" id="{{ ami.prenom }}" name="amisPourRecettes[]" class="famille{{ famille.nom }}" value="{{ ami.id }}">
									<label for="{{ ami.prenom }}">{{ ami.prenom }}</label>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
			<div class="groupeBtn">
				<input type="submit" value="Étape suivante" name="submit" class="btn btnOk">

			</div>
		</form>

	</section>


{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/js/repasNew.js')}}"></script>
	<script src="{{asset('assets/js/showHide.js')}}"></script>
{% endblock %}
