{% extends 'base.html.twig' %}

{% block title %}New Repas
{% endblock %}

{% block stylesheets %}
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> <!-- JQuery -->
	<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

	<!-- Axentix CSS minified version -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.css">
	{{ encore_entry_link_tags('app') }}

	<link rel="stylesheet" href="{{asset('./assets/css/style.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/baseStyle.css')}}">
	<link rel="stylesheet" href="{{asset('./assets/css/repas/repasNewEditStyle.css')}}">

{% endblock %}

{% block body %}

	<section class="entete">
		<div>
			<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
		</div>
		<h1>Nouveau repas</h1>
	</section>


	<section class="amis">
		<h2>Amis invités</h2>
		{% if amisPresents %}
			<ul>
				{% for ami in amisPresents %}
					<li>
							{{ami.prenom}}
					</li>
				{% endfor %}
			</ul>

		{% else %}

			<form method="POST">
				<ul>
					{% for famille in familles | sort ((a, b)=> a.nom <=> b.nom) %}
						<li class="famille-checkbox"><input onclick='handleClick(this);' type="checkbox" id="{{ famille.nom }}" class="main-checkbox" name="familleAmisPourRecettes[]" value="{{ famille.id }}" data-dependant="{% for ami in famille.amis %}{{ami.id}},{% endfor %}">
							<label for="{{ famille.nom }}">Famille
								{{ famille.nom }}</label>
							<ul class="ami-checkbox">
								{% for ami in famille.amis %}
									<li><input type="checkbox" id="{{ ami.prenom }}" name="amisPourRecettes[]" class="famille{{ famille.nom }}" value="{{ ami.id }}">
										<label for="{{ ami.prenom }}">{{ ami.prenom }}</label>
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
				<div class="groupeBtn">
					<input type="submit" value="Mettre à jour les recettes" name="submit" class="btn btnOk">
				</div>
			</form>
		{% endif %}

	</section>

	<section class="recettes">
		<h2>Recettes possibles</h2>

		{% if amisPresents %}
			<form method="POST">
				<ul>
					<h3 id="aperitifH2AmisPresents" onclick="showHide(aperitifAmisPresents)">Apéritif
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>
					<div id="aperitifAmisPresents" class="dnone">

						{% for recette in recettesOk |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Apéritif' %}

										<div class="card shadow-1 hoverable-1 rounded-3 ">
							<div class="cardRecette">

								{% if recette.photo %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></a>
									</div>
								{% else  %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></a>
									</div>
								{% endif  %}


								<div class="slugRecette">

									<div class="titreRecette">
										<a href="{{ path('app_recette_show', {'id': recette.id}) }}">
											<h3>{{ recette.titre }}</h3>
										</a>
									</div>
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										<div class="tpsRecette">
											<div>
												<div>Préparation</div>
												<div>{{ recette.tpsPreparation }}
													min</div>
											</div>
											<div>
												<div>Repos</div>
												<div>{{ recette.tpsRepos }}
													min</div>
											</div>
											<div>
												<div>Cuisson</div>
												<div>{{ recette.tpsCuisson }}
													min</div>
											</div>

										</div>
									</a>

									<a href="{{ path('app_repas_new', {'recetteId': recette.id, 'famillesPresentes':famillesPresentes, 'amisId':amisId}) }}" class="btn btnOk">Choisir</a>

								</div>

							</div>
						</div>
							{% endif %}

						{% endfor %}

					</div>

					<h3 id="entreeH2AmisPresents" onclick="showHide(entreeAmisPresents)">Entrées
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>
					<div id="entreeAmisPresents" class="dnone">
						{% for recette in recettesOk |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Entrée' %}

									<div class="card shadow-1 hoverable-1 rounded-3 ">
							<div class="cardRecette">

								{% if recette.photo %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></a>
									</div>
								{% else  %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></a>
									</div>
								{% endif  %}


								<div class="slugRecette">

									<div class="titreRecette">
										<a href="{{ path('app_recette_show', {'id': recette.id}) }}">
											<h3>{{ recette.titre }}</h3>
										</a>
									</div>
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										<div class="tpsRecette">
											<div>
												<div>Préparation</div>
												<div>{{ recette.tpsPreparation }}
													min</div>
											</div>
											<div>
												<div>Repos</div>
												<div>{{ recette.tpsRepos }}
													min</div>
											</div>
											<div>
												<div>Cuisson</div>
												<div>{{ recette.tpsCuisson }}
													min</div>
											</div>

										</div>
									</a>

									<a href="{{ path('app_repas_new', {'recetteId': recette.id, 'famillesPresentes':famillesPresentes, 'amisId':amisId}) }}" class="btn btnOk">Choisir</a>

								</div>

							</div>
						</div>
							{% endif %}

						{% endfor %}

					</div>

					<h3 id="platH2AmisPresents" onclick="showHide(platAmisPresents)">Plats principaux
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>

					<div id="platAmisPresents" class="dnone">

						{% for recette in recettesOk |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Plat principal' %}

								<div class="card shadow-1 hoverable-1 rounded-3 ">
							<div class="cardRecette">

								{% if recette.photo %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></a>
									</div>
								{% else  %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></a>
									</div>
								{% endif  %}


								<div class="slugRecette">

									<div class="titreRecette">
										<a href="{{ path('app_recette_show', {'id': recette.id}) }}">
											<h3>{{ recette.titre }}</h3>
										</a>
									</div>
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										<div class="tpsRecette">
											<div>
												<div>Préparation</div>
												<div>{{ recette.tpsPreparation }}
													min</div>
											</div>
											<div>
												<div>Repos</div>
												<div>{{ recette.tpsRepos }}
													min</div>
											</div>
											<div>
												<div>Cuisson</div>
												<div>{{ recette.tpsCuisson }}
													min</div>
											</div>

										</div>
									</a>

									<a href="{{ path('app_repas_new', {'recetteId': recette.id, 'famillesPresentes':famillesPresentes, 'amisId':amisId}) }}" class="btn btnOk">Choisir</a>

								</div>

							</div>
						</div>
							{% endif %}

						{% endfor %}

					</div>

					<h3 id="dessertH2AmisPresents" onclick="showHide(dessertAmisPresents)">Desserts
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>

					<div id="dessertAmisPresents" class="dnone">
						{% for recette in recettesOk |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Dessert' %}

									<div class="card shadow-1 hoverable-1 rounded-3 ">
							<div class="cardRecette">

								{% if recette.photo %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></a>
									</div>
								{% else  %}
									<div class="imgRecette">
										<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></a>
									</div>
								{% endif  %}


								<div class="slugRecette">

									<div class="titreRecette">
										<a href="{{ path('app_recette_show', {'id': recette.id}) }}">
											<h3>{{ recette.titre }}</h3>
										</a>
									</div>
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										<div class="tpsRecette">
											<div>
												<div>Préparation</div>
												<div>{{ recette.tpsPreparation }}
													min</div>
											</div>
											<div>
												<div>Repos</div>
												<div>{{ recette.tpsRepos }}
													min</div>
											</div>
											<div>
												<div>Cuisson</div>
												<div>{{ recette.tpsCuisson }}
													min</div>
											</div>

										</div>
									</a>

									<a href="{{ path('app_repas_new', {'recetteId': recette.id, 'famillesPresentes':famillesPresentes, 'amisId':amisId}) }}" class="btn btnOk">Choisir</a>

								</div>

							</div>
						</div>
							{% endif %}
						{% endfor %}
					</div>
				</ul>
			</form>

		{% else %}

			<form method="POST">
				<ul>
					<h3 id="aperitifH2" onclick="showHide(aperitif)">Apéritif
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>
					<div id="aperitif" class="dnone">

						{% for recette in app.user.recettes |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Apéritif' %}

								<div class="card shadow-1 hoverable-1 rounded-3 ">
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										{% if recette.photo %}
											<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
										{% else  %}
											<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
										{% endif  %}

										<div class="slugRecette">
											<h3 class="titreRecette">{{ recette.titre }}</h3>

											<div>{{ recette.categorie.categorie }}


											</div>
											<div class="tpsRecette">
												{% if recette.tpsPreparation %}
													<div>
														<div>Préparation</div>
														<div>{{ recette.tpsPreparation }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsRepos %}
													<div>
														<div>Repos</div>
														<div>{{ recette.tpsRepos }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsCuisson %}

													<div>
														<div>Cuisson</div>
														<div>{{ recette.tpsCuisson }}
															min</div>
													</div>
												{% endif %}

											</div>
										</div>
									</a>
								</div>

							{% endif %}

						{% endfor %}

					</div>

					<h3 id="entreeH2" onclick="showHide(entree)">Entrées
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>
					<div id="entree" class="dnone">
						{% for recette in app.user.recettes |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Entrée' %}

								<div class="card shadow-1 hoverable-1 rounded-3 ">
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										{% if recette.photo %}
											<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
										{% else  %}
											<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
										{% endif  %}

										<div class="slugRecette">
											<h3 class="titreRecette">{{ recette.titre }}</h3>

											<div>{{ recette.categorie.categorie }}


											</div>
											<div class="tpsRecette">
												{% if recette.tpsPreparation %}
													<div>
														<div>Préparation</div>
														<div>{{ recette.tpsPreparation }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsRepos %}
													<div>
														<div>Repos</div>
														<div>{{ recette.tpsRepos }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsCuisson %}

													<div>
														<div>Cuisson</div>
														<div>{{ recette.tpsCuisson }}
															min</div>
													</div>
												{% endif %}

											</div>
										</div>
									</a>
								</div>
							{% endif %}

						{% endfor %}

					</div>

					<h3 id="platH2" onclick="showHide(plat)">Plats principaux
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>

					<div id="plat" class="dnone">

						{% for recette in app.user.recettes |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Plat principal' %}

								<div class="card shadow-1 hoverable-1 rounded-3 ">
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										{% if recette.photo %}
											<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
										{% else  %}
											<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
										{% endif  %}

										<div class="slugRecette">
											<h3 class="titreRecette">{{ recette.titre }}</h3>

											<div>{{ recette.categorie.categorie }}


											</div>
											<div class="tpsRecette">
												{% if recette.tpsPreparation %}
													<div>
														<div>Préparation</div>
														<div>{{ recette.tpsPreparation }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsRepos %}
													<div>
														<div>Repos</div>
														<div>{{ recette.tpsRepos }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsCuisson %}

													<div>
														<div>Cuisson</div>
														<div>{{ recette.tpsCuisson }}
															min</div>
													</div>
												{% endif %}

											</div>
										</div>
									</a>
								</div>
							{% endif %}

						{% endfor %}

					</div>

					<h3 id="dessertH2" onclick="showHide(dessert)">Desserts
						<span>
							<i class="fa-solid fa-sort-down"></i>
						</span>
					</h3>

					<div id="dessert" class="dnone">
						{% for recette in app.user.recettes |  sort((a, b)=> a.titre <=> b.titre)  %}
							{% if recette.categorie.categorie is same as 'Dessert' %}

								<div class="card shadow-1 hoverable-1 rounded-3 ">
									<a class="cardRecette" href="{{ path('app_recette_show', {'id': recette.id}) }}">
										{% if recette.photo %}
											<div class="imgRecette"><img src="{{asset('assets/uploads/photosRecettes/mini/')}}{{ recette.photo }}" alt="{{ recette.titre }}"></div>
										{% else  %}
											<div class="imgRecette"><img src="{{asset('./assets/img/recette.jpg')}}" alt="{{ recette.titre }}"></div>
										{% endif  %}

										<div class="slugRecette">
											<h3 class="titreRecette">{{ recette.titre }}</h3>

											<div>{{ recette.categorie.categorie }}


											</div>
											<div class="tpsRecette">
												{% if recette.tpsPreparation %}
													<div>
														<div>Préparation</div>
														<div>{{ recette.tpsPreparation }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsRepos %}
													<div>
														<div>Repos</div>
														<div>{{ recette.tpsRepos }}
															min</div>
													</div>
												{% endif %}
												{% if recette.tpsCuisson %}

													<div>
														<div>Cuisson</div>
														<div>{{ recette.tpsCuisson }}
															min</div>
													</div>
												{% endif %}
											</div>
										</div>
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</ul>

			</form>
		{% endif %}
	</section>


{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/js/repasNew.js')}}"></script>
	<script src="{{asset('assets/js/showHide.js')}}"></script>

{% endblock %}
